@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  5%, 10% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  15%, 25%, 35% {
    -webkit-transform: scale3d(1.0, 1.0, 1.0) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.0, 1.0, 1.0) rotate3d(0, 0, 1, 3deg);
  }

  20%, 30%, 40% {
    -webkit-transform: scale3d(1.0, 1.0, 1.0) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.0, 1.0, 1.0) rotate3d(0, 0, 1, -3deg);
  }

  50%, 100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-moz-keyframes tada {
  from {
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  4%, 8% {
    -moz-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  12%, 20%, 28% {
    -moz-transform: scale3d(1.0, 1.0, 1.0) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.0, 1.0, 1.0) rotate3d(0, 0, 1, 3deg);
  }

  16%, 24%, 32% {
    -moz-transform: scale3d(1.0, 1.0, 1.0) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.0, 1.0, 1.0) rotate3d(0, 0, 1, -3deg);
  }

  40%, 100% {
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-ms-keyframes tada {
  from {
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  4%, 8% {
    -ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  12%, 20%, 28% {
    -ms-transform: scale3d(1.0, 1.0, 1.0) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.0, 1.0, 1.0) rotate3d(0, 0, 1, 3deg);
  }

  16%, 24%, 32% {
    -ms-transform: scale3d(1.0, 1.0, 1.0) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.0, 1.0, 1.0) rotate3d(0, 0, 1, -3deg);
  }

  40%, 100% {
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  4%, 8% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  12%, 20%, 28% {
    -webkit-transform: scale3d(1.0, 1.0, 1.0) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.0, 1.0, 1.0) rotate3d(0, 0, 1, 3deg);
  }

  16%, 24%, 32% {
    -webkit-transform: scale3d(1.0, 1.0, 1.0) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.0, 1.0, 1.0) rotate3d(0, 0, 1, -3deg);
  }

  40%, 100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.animated.time2s {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.time2hs {
  -webkit-animation-duration: 2.5s;
  -moz-animation-duration: 2.5s;
  -ms-animation-duration: 2.5s;
  animation-duration: 2.5s;
}


@-webkit-keyframes bounce {
	0%, 10%, 25%, 40%, 100% {-webkit-transform: translateY(0);}
	20% {-webkit-transform: translateY(-30px);}
	30% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
	0%, 10%, 25%, 40%, 100% {-moz-transform: translateY(0);}
	20% {-moz-transform: translateY(-30px);}
	30% {-moz-transform: translateY(-15px);}
}

@-ms-keyframes bounce {
	0%, 10%, 25%, 40%, 100% {-ms-transform: translateY(0);}
	20% {-ms-transform: translateY(-30px);}
	30% {-ms-transform: translateY(-15px);}
}

@keyframes bounce {
	0%, 10%, 25%, 40%, 100% {transform: translateY(0);}
	20% {transform: translateY(-30px);}
	30% {transform: translateY(-15px);}
}
