* {position: relative; width: auto; height: auto; margin: 0; padding: 0; z-index: 0; -webkit-overflow-scrolling: touch;}
table {position: initial; border: 1px solid #000; border-collapse: collapse;}
td, th {border: 1px solid #000; border-collapse: collapse; padding: 5px;}
input, textarea, button {outline: none; -webkit-decoration: none;}
html, body {width: 100%; height: 100%; overflow: visible; font-family: '微软雅黑',Helvetica,sans-serif;}

.w100 {width: 100%;}
.h100 {height: 100%;}
.max-w100 {max-width: 100%;}
.max-h100 {max-height: 100%;}
.min-w100 {min-width: 100%;}
.min-h100 {min-height: 100%;}
.clearfix {clear: both;}
.block {display: block;}
.absolute {position: absolute;}
.fixed {position: fixed;}
.relative {position: relative;}
.debug {border: 1px solid #f00;}
.invisible {display: none;}
.hidden {visibility: hidden;}
.left {left: 0;}
.top {top: 0;}
.right {right: 0;}
.bottom {bottom: 0;}
.no-scroll {overflow: hidden;}
.auto-scroll {overflow: auto;}
.always-scroll {overflow: scroll;}
.white {color: #fff;}
.black {color: #000;}
.margin-auto {margin: auto;}

.navigation-container {z-index: 1; position: fixed; left: 0; top: 0;}

.page-container {z-index: 2; height: 100%;}
.page {height: 100%;}

.overlay-container {z-index: 3; display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%;}


.slide-item.loading {padding-top: 30%;}
.gallery img {margin: auto; max-height: 100%;}

.sub-page {height: 100%;}
.sub-page.current-page {display: block;}


/* flexslider */
.flex-direction-nav {position: absolute; top: 50%; width: 100%;}
.flex-direction-nav a:before {content: none !important;}
.flex-prev {background: transparent url(../images/lookbook/arrow.png) left center no-repeat;}
.flex-next {background: transparent url(../images/lookbook/arrow.png) right center no-repeat;}
.flex-viewport {height: 100%;}

.cursor {cursor: pointer;}
